
{% if section.settings.section_id.size > 0 %}
  <!-- PageFlyGlobalSection -->
  {% render 'pagefly-main-js' %}
  {% render 'pagefly-main-css' %}
  {% include section.settings.section_id %}
{% else %}
  
    {% if request.design_mode %}
      <style>.pf-ph{font-size:14px!important;background:#fafafa;padding:20px;text-align:center;border:1px solid #f0f0f0;border-radius:4px;margin:15px}.pf-ph span{display:block;background:#e6f7ff;padding:8px 15px;border:1px solid #91d5ff}</style>
      <div class="pf-ph">
        <h3>PageFly Section</h3>
        <span>No section selected. Please select your section from the list</span>
      </div>
    {% endif %}
  
{% endif %}

{% schema %}
{
  "name": "PageFly Section",
  "settings": [
    {
      "id": "section_id",
      "type": "select",
      "label": "Sections",
      "options": [
        {
          "label": "Select section",
          "value": ""
        },
        {
          "label": "FAQ Washing Bag",
          "value": "pf-29ffe5d0"
        },
        {
          "label": "FAQ Skin Recovering Bundle",
          "value": "pf-95442405"
        },
        {
          "label": "FAQ Scrunchies",
          "value": "pf-e88ec943"
        },
        {
          "label": "FAQ Sleep Mask",
          "value": "pf-7f4f0352"
        },
        {
          "label": "FAQ Silk Pillow",
          "value": "pf-258e6e18"
        },
        {
          "label": "FAQ PERFECT PILLOW",
          "value": "pf-aaed10e7"
        },
        {
          "label": "Top Banner Advertorial",
          "value": "pf-d16014e6"
        },
        {
          "label": "Product advertorial",
          "value": "pf-1cb43fc5"
        },
        {
          "label": "silk pillow product header",
          "value": "pf-8b4fee67"
        },
        {
          "label": "Review 2",
          "value": "pf-3a379b4d"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Find and edit your section on the [section listing](https://snoozy-7412.myshopify.com/admin/apps/pagefly/sections)"
    },
    {
      "type": "paragraph",
      "content": "To add block to a section, please use the App Block element on PageFly section editor."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "PageFly Section"
    }
  ]
}
{% endschema %}
