
<div id="replo-section-db0e102f-5fd7-412e-bd3e-9a55545f78be" data-runtime-version="b6310090-fd80-11ee-b0f4-3f4bf1541b79" data-section-id="{{ section.id }}" style="display:block !important;">{% include "reploChunk.db0e102f-5fd7-412e-bd3e-9a55545f78be.0" %}{% include "reploChunk.db0e102f-5fd7-412e-bd3e-9a55545f78be.1" %}</div>

{% schema %}
{
  "name": "Silk Pillowcase PDP",
  "presets": [
    {
      "name": "Silk Pillowcase PDP"
    }
  ],
  "settings": []
}
{% endschema %}
    