.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}
.newsletter__wrapper *{
  max-width: 600px;
  margin: 0 auto; 
}
.newsletter__wrapper button {
    padding: 0;
}
.newsletter__wrapper h2{
  font-size: 32px !important;
  line-height: 1.1em !important;
  letter-spacing: 0px !important;
  color: #fff !important;
  text-transform: none !important;
  font-weight: 400 !important;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }

  .newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 48rem;
    gap: 15px;
    display: flex;
  }
}

@media screen and (max-width: 749px) {
  .newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 49rem;
    gap: 15px;
    display: grid;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
