
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="04173cc2-aaf0-11ee-b7d4-dec9592a7ba0"
      style="display: block !important"
    >
      <style id="replo-element-styles">:not(#\20):not(#\20).r-m15ayn{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-m15ayn{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-m15ayn{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1g1lguw{width:100%;display:flex;row-gap:60px;position:relative;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;padding-top:64px;flex-direction:column;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1g1lguw{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1g1lguw{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:44px;padding-bottom:0px;}}:not(#\20):not(#\20).r-4fz5sc{width:1024px;display:flex;row-gap:50px;position:relative;min-width:auto;align-self:center;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4fz5sc{width:auto;display:flex;row-gap:15px;position:relative;flex-grow:unset;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4fz5sc{width:550px;display:flex;row-gap:20px;position:relative;flex-grow:unset;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}:not(#\20):not(#\20).r-igxzz6{display:flex;row-gap:20px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:0px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-igxzz6{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-igxzz6{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}:not(#\20):not(#\20).r-umcz61{color:#000000;font-size:52px;align-self:stretch;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayMediu, sans-serif;font-weight:600;line-height:80px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-umcz61{font-size:23px;flex-basis:auto;flex-shrink:0;line-height:28px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-umcz61{font-size:34px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-1f7piqw{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f7piqw{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f7piqw{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1ieay0q{color:#000000FF;width:100%;font-size:36px;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:50px;overflow-wrap:break-word;padding-bottom:20px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ieay0q{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ieay0q{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-191mgdx{width:800px;display:flex;min-width:0;align-self:center;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-191mgdx{width:auto;align-self:stretch;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-191mgdx{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1v89xcp{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1v89xcp{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1v89xcp{object-fit:cover;}}:not(#\20):not(#\20).r-wyf93p{width:800px;display:flex;min-width:0;align-self:center;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-wyf93p{width:600px;display:none;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-wyf93p{width:600px;display:flex;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-12wrvu1{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-12wrvu1{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-12wrvu1{object-fit:cover;}}:not(#\20):not(#\20).r-eijoq5{display:none;min-width:0;align-self:stretch;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-eijoq5{display:flex;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-eijoq5{display:none;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-10yuiq4{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10yuiq4{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10yuiq4{object-fit:cover;}}:not(#\20):not(#\20).r-1n9aw3y{color:#000000FF;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayRoman, sans-serif;line-height:28px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1n9aw3y{color:#000000FF;flex-basis:auto;flex-shrink:0;padding-left:10px;padding-right:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1n9aw3y{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-j3ddmb{width:100%;display:flex;row-gap:60px;position:relative;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;flex-direction:column;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-j3ddmb{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:0px;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-j3ddmb{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:44px;padding-bottom:44px;}}:not(#\20):not(#\20).r-1k4e9dk{width:90%;height:0px;display:flex;flex-basis:auto;margin-top:20px;flex-shrink:0;margin-left:5%;margin-right:5%;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:20px;border-top-color:#F19A40FF;border-top-style:solid;border-top-width:5px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1k4e9dk{flex-basis:auto;margin-top:-20px;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1k4e9dk{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-11j181d{width:1024px;display:flex;row-gap:50px;position:relative;min-width:auto;align-self:center;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-11j181d{width:auto;display:flex;row-gap:15px;position:relative;flex-grow:unset;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-11j181d{width:550px;display:flex;row-gap:20px;position:relative;flex-grow:unset;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}:not(#\20):not(#\20).r-1x7ma9b{display:flex;row-gap:20px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:0px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1x7ma9b{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1x7ma9b{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}:not(#\20):not(#\20).r-1d64e8q{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1d64e8q{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1d64e8q{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-l8rysj{color:#000000FF;width:100%;font-size:18px;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:26px;margin-bottom:40px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-l8rysj{font-size:14px;flex-basis:auto;flex-shrink:0;line-height:24px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-l8rysj{font-size:14px;flex-basis:auto;flex-shrink:0;line-height:24px;}}:not(#\20):not(#\20).r-9lkqm3{cursor:pointer;display:none;min-width:0;align-self:stretch;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9lkqm3{cursor:pointer;display:flex;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9lkqm3{cursor:pointer;display:none;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-f48frd{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-f48frd{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-f48frd{object-fit:cover;}}:not(#\20):not(#\20).r-pqn8e5{color:#000000FF;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayRoman, sans-serif;line-height:28px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pqn8e5{color:#000000FF;flex-basis:auto;flex-shrink:0;padding-left:10px;padding-right:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pqn8e5{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-13efryg{width:90%;height:0px;display:flex;flex-basis:auto;margin-top:20px;flex-shrink:0;margin-left:5%;margin-right:5%;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:20px;border-top-color:#F19A40FF;border-top-style:solid;border-top-width:5px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-13efryg{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-13efryg{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-19ztj0x{width:100%;display:flex;row-gap:60px;position:relative;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;padding-top:64px;flex-direction:column;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19ztj0x{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19ztj0x{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:44px;padding-bottom:44px;}}:not(#\20):not(#\20).r-lzphyn{width:1024px;display:flex;row-gap:50px;position:relative;min-width:auto;align-self:center;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-lzphyn{width:auto;display:flex;row-gap:15px;position:relative;flex-grow:unset;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-lzphyn{width:550px;display:flex;row-gap:20px;position:relative;flex-grow:unset;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}:not(#\20):not(#\20).r-1o0dl63{display:flex;row-gap:20px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:0px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1o0dl63{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1o0dl63{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}:not(#\20):not(#\20).r-1v19k4s{color:#000000FF;font-size:46px;align-self:center;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:900;line-height:54px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1v19k4s{font-size:20px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:28px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1v19k4s{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-do0452{color:#000000FF;width:100%;font-size:18px;flex-basis:auto;margin-top:40px;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:26px;margin-bottom:40px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-do0452{font-size:14px;flex-basis:auto;margin-top:0px;flex-shrink:0;line-height:24px;padding-top:10px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-do0452{font-size:28px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-1x9gt62{cursor:pointer;display:flex;min-width:0;align-self:stretch;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1x9gt62{cursor:pointer;display:none;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1x9gt62{cursor:pointer;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1ump536{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ump536{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ump536{object-fit:cover;}}:not(#\20):not(#\20).r-irr8q9{color:#000000FF;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayRoman, sans-serif;line-height:28px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-irr8q9{color:#000000FF;flex-basis:auto;flex-shrink:0;padding-left:10px;padding-right:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-irr8q9{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-wuc0gi{width:90%;height:0px;display:flex;flex-basis:auto;margin-top:20px;flex-shrink:0;margin-left:5%;margin-right:5%;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:20px;border-top-color:#F19A40FF;border-top-style:solid;border-top-width:8px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-wuc0gi{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-wuc0gi{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1pym14o{width:100%;display:flex;row-gap:60px;position:relative;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;padding-top:64px;flex-direction:column;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1pym14o{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1pym14o{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:44px;padding-bottom:44px;}}:not(#\20):not(#\20).r-1nb6b7{width:1024px;display:flex;row-gap:50px;position:relative;min-width:auto;align-self:center;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nb6b7{width:auto;display:flex;row-gap:15px;position:relative;flex-grow:unset;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nb6b7{width:550px;display:flex;row-gap:20px;position:relative;flex-grow:unset;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}:not(#\20):not(#\20).r-7486iy{display:flex;row-gap:20px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:0px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-7486iy{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-7486iy{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}:not(#\20):not(#\20).r-196p1kr{color:#000000FF;font-size:46px;align-self:center;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:900;line-height:54px;margin-bottom:30px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-196p1kr{font-size:20px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:28px;padding-left:10px;margin-bottom:0px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-196p1kr{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1k1u2zr{display:grid;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;justify-content:flex-start;grid-template-columns:minmax(0, 2fr) minmax(0, 1fr);}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1k1u2zr{display:none;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1k1u2zr{position:relative;flex-grow:1;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-16uwrpn{display:flex;max-width:100%;align-self:stretch;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16uwrpn{display:contents;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16uwrpn{display:flex;max-width:100%;align-self:stretch;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}}:not(#\20):not(#\20).r-15zucmi{display:flex;position:relative;flex-grow:2;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:2;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15zucmi{width:100%;display:flex;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15zucmi{position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:2;}}:not(#\20):not(#\20).r-1bzyrs0{color:#000000FF;width:100%;font-size:18px;flex-basis:auto;margin-top:40px;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:26px;margin-bottom:40px;overflow-wrap:break-word;padding-right:60px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1bzyrs0{font-size:14px;flex-basis:auto;flex-shrink:0;line-height:24px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1bzyrs0{font-size:28px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-6mecpo{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-end;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-6mecpo{display:flex;position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-6mecpo{display:flex;position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1a2szlv{width:350px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1a2szlv{display:flex;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1a2szlv{display:flex;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-jcl5ye{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-jcl5ye{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-jcl5ye{object-fit:cover;}}:not(#\20):not(#\20).r-fzocik{color:#000000FF;width:100%;font-size:18px;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:26px;margin-bottom:40px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-fzocik{display:none;font-size:14px;flex-basis:auto;flex-shrink:0;line-height:24px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-fzocik{font-size:28px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-bhcnqm{color:#000000FF;width:100%;display:none;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:Montserrat, sans-serif;font-weight:300;line-height:28px;margin-bottom:40px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-bhcnqm{display:flex;font-size:14px;flex-basis:auto;flex-shrink:0;line-height:24px;padding-top:10px;padding-left:10px;padding-right:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-bhcnqm{display:flex;font-size:28px;flex-basis:auto;flex-shrink:0;line-height:40px;}}:not(#\20):not(#\20).r-15juc1q{color:#000000FF;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayRoman, sans-serif;line-height:28px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15juc1q{color:#000000FF;flex-basis:auto;flex-shrink:0;padding-left:10px;padding-right:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15juc1q{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-w8fx4k{width:100%;display:flex;row-gap:60px;position:relative;min-width:auto;align-self:center;column-gap:60px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;padding-top:64px;flex-direction:column;justify-content:center;grid-template-columns:repeat(4, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-w8fx4k{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-w8fx4k{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:44px;padding-bottom:44px;}}:not(#\20):not(#\20).r-gd7nnn{width:90%;height:0px;display:flex;flex-basis:auto;margin-top:20px;flex-shrink:0;margin-left:5%;margin-right:5%;padding-left:20px;padding-right:20px;flex-direction:column;padding-bottom:20px;border-top-color:#F19A40FF;border-top-style:solid;border-top-width:8px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gd7nnn{flex-basis:auto;margin-top:0px;flex-shrink:0;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gd7nnn{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-pg72ui{width:1024px;display:flex;row-gap:50px;position:relative;min-width:auto;align-self:center;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#FFFFFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pg72ui{width:auto;display:flex;row-gap:15px;position:relative;flex-grow:unset;min-width:auto;align-self:stretch;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pg72ui{width:550px;display:flex;row-gap:20px;position:relative;flex-grow:unset;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;background-color:#FFFFFFFF;}}:not(#\20):not(#\20).r-1urklti{display:flex;row-gap:20px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:0px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1urklti{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1urklti{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-top:0px;}}:not(#\20):not(#\20).r-x8p7co{cursor:pointer;display:flex;min-width:0;align-self:stretch;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;margin-bottom:100px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-x8p7co{cursor:pointer;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-x8p7co{cursor:pointer;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-zxxtnu{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-zxxtnu{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-zxxtnu{object-fit:cover;}}:not(#\20):not(#\20).r-pxrzkr{color:#000000FF;font-size:22px;flex-basis:auto;flex-shrink:0;font-family:NeueHaasDisplayRoman, sans-serif;line-height:28px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pxrzkr{color:#000000FF;flex-basis:auto;flex-shrink:0;padding-left:10px;padding-right:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pxrzkr{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-zq30vt{display:flex;row-gap:30px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:30px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:70px;padding-left:100px;padding-right:100px;padding-bottom:40px;justify-content:center;background-color:#F2F2F2FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-zq30vt{width:auto;display:flex;row-gap:40px;position:relative;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-left:30px;margin-bottom:0px;padding-right:30px;flex-direction:column;padding-bottom:50px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-zq30vt{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:60px;padding-left:40px;padding-right:40px;}}:not(#\20):not(#\20).r-1ivg69f{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ivg69f{width:auto;position:relative;flex-grow:unset;min-width:auto;align-self:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ivg69f{width:200px;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-uehju5{width:80px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-uehju5{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-uehju5{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1i2cg4b{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1i2cg4b{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1i2cg4b{object-fit:cover;}}:not(#\20):not(#\20).r-1dmr1zt{color:#000000FF;font-size:24px;flex-basis:auto;margin-top:5px;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:500;line-height:28px;overflow-wrap:break-word;padding-bottom:10px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dmr1zt{font-size:20px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;line-height:28px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dmr1zt{font-size:20px;flex-basis:auto;text-align:center;flex-shrink:0;line-height:28px;text-align-last:center;}}:not(#\20):not(#\20).r-i8jnp7{display:flex;row-gap:40px;position:relative;flex-grow:1;max-width:400px;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-i8jnp7{row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-i8jnp7{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1nqk6z7{color:#000000FF;font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:300;line-height:26px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nqk6z7{font-size:16px;flex-basis:auto;margin-top:10px;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;line-height:26px;margin-left:0px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nqk6z7{font-size:16px;flex-basis:auto;margin-top:10px;flex-shrink:0;line-height:26px;margin-left:0px;text-align-last:center;}}:not(#\20):not(#\20).r-1u5melq{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1u5melq{width:auto;position:relative;flex-grow:unset;min-width:auto;align-self:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1u5melq{width:200px;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1gr5x2l{width:80px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gr5x2l{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gr5x2l{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-nyf8iq{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-nyf8iq{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-nyf8iq{object-fit:cover;}}:not(#\20):not(#\20).r-9ojh67{color:#000000FF;font-size:24px;flex-basis:auto;margin-top:5px;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:500;line-height:28px;overflow-wrap:break-word;padding-bottom:10px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9ojh67{font-size:20px;flex-basis:auto;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;line-height:28px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9ojh67{font-size:20px;flex-basis:auto;flex-shrink:0;line-height:28px;}}:not(#\20):not(#\20).r-12t7mt2{display:flex;row-gap:40px;position:relative;flex-grow:1;max-width:400px;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-12t7mt2{row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-12t7mt2{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-u0gg68{color:#000000FF;font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:300;line-height:26px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-u0gg68{font-size:16px;flex-basis:auto;margin-top:10px;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;line-height:26px;margin-left:0px;margin-right:0px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-u0gg68{font-size:14px;flex-basis:auto;margin-top:10px;flex-shrink:0;line-height:26px;margin-left:0px;margin-right:0px;text-align-last:center;}}:not(#\20):not(#\20).r-1xs2wju{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1xs2wju{width:auto;position:relative;flex-grow:unset;min-width:auto;align-self:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1xs2wju{width:200px;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1uugm9v{width:80px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1uugm9v{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1uugm9v{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1jyl6ac{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1jyl6ac{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1jyl6ac{object-fit:cover;}}:not(#\20):not(#\20).r-w92f20{color:#000000FF;font-size:24px;flex-basis:auto;margin-top:5px;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:500;line-height:28px;overflow-wrap:break-word;padding-bottom:10px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-w92f20{font-size:20px;flex-basis:auto;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;line-height:28px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-w92f20{font-size:20px;flex-basis:auto;flex-shrink:0;line-height:28px;}}:not(#\20):not(#\20).r-5p5unn{display:flex;row-gap:40px;position:relative;flex-grow:1;max-width:400px;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5p5unn{row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5p5unn{row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1sbxgpg{color:#000000FF;font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;font-weight:300;line-height:26px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1sbxgpg{font-size:16px;flex-basis:auto;margin-top:10px;flex-shrink:0;line-height:26px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1sbxgpg{font-size:16px;flex-basis:auto;margin-top:10px;flex-shrink:0;line-height:26px;text-align-last:center;}}:not(#\20):not(#\20).r-ukozo9{color:#FFFFFFFF;display:flex;row-gap:50px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;font-family:Arial, sans-serif;padding-left:60px;padding-right:60px;flex-direction:column;padding-bottom:50px;justify-content:center;background-color:#F2F2F2FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ukozo9{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:30px;padding-right:30px;padding-bottom:50px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ukozo9{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:30px;padding-right:30px;padding-bottom:50px;}}:not(#\20):not(#\20).r-10g47rf{cursor:pointer;display:flex;flex-grow:1;max-width:200px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10g47rf{cursor:pointer;max-width:150px;flex-basis:auto;flex-shrink:1;margin-bottom:25px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10g47rf{cursor:pointer;max-width:170px;flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-10yu1me{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10yu1me{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10yu1me{object-fit:cover;}}:not(#\20):not(#\20).r-2klddy{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;margin-top:-50px;min-height:auto;align-items:center;flex-shrink:1;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-2klddy{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-2klddy{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1t0qm52{width:50px;height:50px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;margin-right:5px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1t0qm52{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1t0qm52{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1f7ok17{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f7ok17{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f7ok17{object-fit:cover;}}:not(#\20):not(#\20).r-10ng4o4{width:50px;height:50px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10ng4o4{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10ng4o4{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1660gdh{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1660gdh{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1660gdh{object-fit:cover;}}:not(#\20):not(#\20).r-1yqzkx{width:50px;height:50px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1yqzkx{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1yqzkx{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-rfabzr{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-rfabzr{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-rfabzr{object-fit:cover;}}:not(#\20):not(#\20).r-1oq1ir1{width:50px;height:50px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;margin-right:5px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1oq1ir1{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1oq1ir1{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-14fexbb{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-14fexbb{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-14fexbb{object-fit:cover;}}:not(#\20):not(#\20).r-1edswgf{width:50px;height:50px;display:flex;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;margin-left:5px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1edswgf{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1edswgf{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-vdzyz8{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vdzyz8{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vdzyz8{object-fit:cover;}}:not(#\20):not(#\20).r-8locpe{display:flex;row-gap:20px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;font-family:"Harmonia Sans", sans-serif;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-8locpe{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-8locpe{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1hgjx15{display:flex;row-gap:50px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:50px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hgjx15{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hgjx15{row-gap:50px;position:relative;min-width:auto;column-gap:50px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-15m228o{color:#000000FF;cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:300;line-height:22px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15m228o{cursor:pointer;flex-basis:auto;text-align:center;flex-shrink:0;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15m228o{cursor:pointer;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1k7evwn{color:#000000FF;cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:300;line-height:22px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1k7evwn{cursor:pointer;flex-basis:auto;text-align:center;flex-shrink:0;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1k7evwn{cursor:pointer;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1jkk549{color:#000000FF;font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:300;line-height:22px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1jkk549{flex-basis:auto;text-align:center;flex-shrink:0;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1jkk549{flex-basis:auto;flex-shrink:0;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/754a51c6-a50e-4fa3-96fe-d0ef5837125f/98f9706d-353f-4f32-a363-2b9e46a23149.min.js?v=04173cc2-aaf0-11ee-b7d4-dec9592a7ba0" id="https://replocdn.com/w/754a51c6-a50e-4fa3-96fe-d0ef5837125f/98f9706d-353f-4f32-a363-2b9e46a23149.min.js?v=04173cc2-aaf0-11ee-b7d4-dec9592a7ba0"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header, .main-header, #site-header, .shopify-section-group-header-group { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer, .main-footer, .shopify-section-group-footer-group { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><style>
  #shopify-section-announcement-bar, .announcement-bar, #announcement, #shopify-section-announcement, .header-promo, .announcement_bar, .nav__banner, :not(body).promo-bar, #shopify-section-header-notice, #shopify-section-announcement_bar, #shopify-section-header + #shopify-section-text-scroller, #shopify-section-announcement-slider, #shopify-section-header-topbar, #shopify-section-top-countdown, #shopify-section-message-butter-bar { display: none !important; }
</style><style>@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-NeueHaasDisplayMediu">
        @font-face {
          font-family: "NeueHaasDisplayMediu";
          src: url("https://cdn.shopify.com/s/files/1/0793/1995/7809/files/NeueHaasDisplayMediu_ac46a0fa-7d49-4e66-9097-1c32f5b4a6b4.woff2?v=1701094814") format("woff2");
        }
      </style><style id="replo-fonts-NeueHaasDisplayRoman">
        @font-face {
          font-family: "NeueHaasDisplayRoman";
          src: url("https://cdn.shopify.com/s/files/1/0793/1995/7809/files/NeueHaasDisplayRoman_7a178aeb-a970-4bd4-92e1-653f9a756f2c.woff2?v=1701094902") format("woff2");
        }
      </style><div class="alchemy__element alchemy-reset"><div data-rid="f2cf72f9-456c-4662-b8f6-07af18aadc3e" data-replo-repeated-index=".0" class="r-m15ayn"><div data-rid="88104421-124e-4d8a-8e20-e5150ff9f65f" data-replo-repeated-index=".0.0" class="r-1g1lguw"><div data-rid="a36baedf-c37e-43ef-9f1a-fa37ea16b36e" data-replo-repeated-index=".0.0.0" data-alchemy-url-hashmark="1" id="1" data-alchemy-url-hashmark-ignore="true" class="r-4fz5sc"><div data-rid="e20bae81-2830-41b6-a364-cdfbf5726e5f" data-replo-repeated-index=".0.0.0.0" class="r-igxzz6"><div data-rid="9c40648f-9ab9-44eb-8492-475585b8dac4" data-replo-repeated-index=".0.0.0.0.0" class="r-umcz61 alchemy-rte"><span contenteditable="false" style="width:100%"><h1><strong>I Switched My Pillowcase  And My Acne Vanished in Under a Month</strong></h1></span></div><div data-rid="44056eaf-4d51-4735-8240-8ef0cbac5c29" data-replo-repeated-index=".0.0.0.0.0" class="r-1f7piqw"><div data-rid="a338adda-2eb8-4028-bc25-0b8883826a82" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1ieay0q alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(23, 36, 44)">How an antibacterial silk pillowcase was Ericka's secret to waking up with glowing skin.</span></p></span></div></div><picture data-rid="30b9b76b-dc54-424a-9e88-015f734ca4e0" data-replo-repeated-index=".0.0.0.0.0" class="r-191mgdx"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/lp-silk-ericka_8523ad63-2f91-4e26-ba03-7cca22d82e8b.jpg?v=1704365805&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/lp-silk-ericka_8523ad63-2f91-4e26-ba03-7cca22d82e8b.jpg?v=1704365805&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/lp-silk-ericka_8523ad63-2f91-4e26-ba03-7cca22d82e8b.jpg?v=1704365805&amp;width=1600" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/lp-silk-ericka_8523ad63-2f91-4e26-ba03-7cca22d82e8b.jpg?v=1704365805&amp;width=1600" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/lp-silk-ericka_8523ad63-2f91-4e26-ba03-7cca22d82e8b.jpg?v=1704365805" class="r-1v89xcp" loading="eager"/></picture><picture data-rid="32fe784f-9e06-482e-9bcb-a415ff3b1e0a" data-replo-repeated-index=".0.0.0.0.0" class="r-wyf93p"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=1600" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=1600" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396" class="r-12wrvu1" loading="eager"/></picture><picture data-rid="c51e4b99-6130-48b3-ae76-25c10d5606e5" data-replo-repeated-index=".0.0.0.0.0" class="r-eijoq5"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured-mobile.jpg?v=1701117211&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-featured.jpg?v=1701111396" class="r-10yuiq4" loading="eager"/></picture><div data-rid="4e523c00-bcb2-40ae-9324-873b1272f469" data-replo-repeated-index=".0.0.0.0.0" class="r-1n9aw3y alchemy-rte"><span contenteditable="false" style="width:100%"></span></div></div></div></div><div data-rid="aec0540d-cae2-4b4c-8a47-6b62b0227e3f" data-replo-repeated-index=".0.0" class="r-j3ddmb"><div data-rid="2820c063-bb7c-4f7a-820b-ae3fdff4a274" data-replo-repeated-index=".0.0.0" class="r-1k4e9dk"></div><div data-rid="a47f870d-1c2e-4f0d-9a69-6b8f12c4088b" data-replo-repeated-index=".0.0.0" data-alchemy-url-hashmark="1" id="1" data-alchemy-url-hashmark-ignore="true" class="r-11j181d"><div data-rid="b6427cac-42cf-4202-8dc7-8e5db8afe656" data-replo-repeated-index=".0.0.0.0" class="r-1x7ma9b"><div data-rid="81936438-6c50-4e08-827c-b02403ef4e42" data-replo-repeated-index=".0.0.0.0.0" class="r-1d64e8q"><div data-rid="ada71a01-fe9e-4802-a81f-0dcc3d8ca2c2" data-replo-repeated-index=".0.0.0.0.0.0" class="r-l8rysj alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(55, 65, 81)">Embarking on a quest for flawless skin led me down a road of lifestyle changes, skincare routines, and dietary shifts. It's astonishing how these small changes weave together to transform our skin. Amidst this journey, my secret weapon, </span><strong><span style="color: rgb(55, 65, 81)">the 'skin-recovering silk pillowcase', emerged as a key player in my pursuit of beautiful skin.</span></strong><span style="color: rgb(55, 65, 81)"> In this blog, I unveil the mosaic of improvements that paved the way for my acne-free transformation.</span><br><br>Hydration was paramountI discovered the magic of ample water intake, illuminating my skin from within. Adjusting my diet, and bidding farewell to dairy, significantly tamed my acne, highlighting the intricate link between nutrition and skin health. Experimentation with skincare products and routines underscored the pivotal role of choosing the right solutions for clear skin. In the midst of these changes, <strong>my silk pillowcase emerged as an unexpected hero</strong>, a gentle yet essential part of my journey toward better skin.</p></span></div><picture data-rid="46669be5-b9a6-40dd-a7e9-9f4f53602731" data-replo-repeated-index=".0.0.0.0.0.0" tabindex="0" role="button" class="r-9lkqm3"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646" class="r-f48frd" loading="eager"/></picture></div><div data-rid="4038b507-b5bc-425a-9788-6cf427c9ee79" data-replo-repeated-index=".0.0.0.0.0" class="r-pqn8e5 alchemy-rte"><span contenteditable="false" style="width:100%"></span></div></div></div><div data-rid="2edac1a6-35d1-40c5-b137-b772b783993d" data-replo-repeated-index=".0.0.0" class="r-13efryg"></div></div><div data-rid="fea6db80-0162-40c1-acaf-6d81b853c71e" data-replo-repeated-index=".0.0" class="r-19ztj0x"><div data-rid="6b233c8d-eb1d-46ee-a530-6ef51fe65aab" data-replo-repeated-index=".0.0.0" data-alchemy-url-hashmark="1" id="1" data-alchemy-url-hashmark-ignore="true" class="r-lzphyn"><div data-rid="f529cda6-ab5f-41f6-bcac-a04c36d536e8" data-replo-repeated-index=".0.0.0.0" class="r-1o0dl63"><div data-rid="1d33a877-128e-4be6-bb9f-fd0d9655fff8" data-replo-repeated-index=".0.0.0.0.0" class="r-1v19k4s alchemy-rte"><span contenteditable="false" style="width:100%"><h2>The power of little things</h2></span></div><div data-rid="2c214d48-c79e-4202-b172-d98dc7e9708e" data-replo-repeated-index=".0.0.0.0.0" class="r-do0452 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(55, 65, 81)">Looking back on my path towards acne-free skin, </span><strong><span style="color: rgb(55, 65, 81)">it wasn't a single change but the sum of all these tiny adjustments that transformed my skin.</span></strong><span style="color: rgb(55, 65, 81)"> Hydration, diet tweaks, and nailing the right skincare routines were all crucial. </span><strong><span style="color: rgb(55, 65, 81)">The silk pillowcase that eliminates bacteria became an unexpected yet essential player in my skin journey's triumph.</span></strong></p><p><br></p><p><span style="color: rgb(55, 65, 81)">In essence, achieving that clear, glowing skin isn't a one-fix wonder; it's about a holistic approach weaving through our daily routines. From staying hydrated to tweaking what I ate and the savvy choice of a silver ion-treated silk pillowcase, it's the combination that unlocked the secrets to healthier, happier skin. It's proof that the smallest shifts can wield the mightiest outcomes.</span></p></span></div><picture data-rid="65308b33-58b4-4606-99f3-d74643bf076a" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="button" class="r-1x9gt62"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block1.jpg?v=1701112646" class="r-1ump536" loading="eager"/></picture><div data-rid="96ddcc89-78c0-4763-ada6-38b79f556a2a" data-replo-repeated-index=".0.0.0.0.0" class="r-irr8q9 alchemy-rte"><span contenteditable="false" style="width:100%"></span></div></div></div></div><div data-rid="cfad8f5f-935d-4098-ba95-7ba7b2632a73" data-replo-repeated-index=".0.0" class="r-wuc0gi"></div><div data-rid="665b74f4-3f2e-412a-b1ca-fdbf1c45d115" data-replo-repeated-index=".0.0" class="r-1pym14o"><div data-rid="e4151ee6-f6d2-497b-8597-9020b05fa3b8" data-replo-repeated-index=".0.0.0" data-alchemy-url-hashmark="1" id="1" data-alchemy-url-hashmark-ignore="true" class="r-1nb6b7"><div data-rid="fcb075ac-6a5e-4f8b-8e53-9032d3e3f55a" data-replo-repeated-index=".0.0.0.0" class="r-7486iy"><div data-rid="24f35300-e2f2-4d27-af53-845ce7a8a509" data-replo-repeated-index=".0.0.0.0.0" class="r-196p1kr alchemy-rte"><span contenteditable="false" style="width:100%"><h2>Silver Ion Technology</h2></span></div><div class="r-16uwrpn" data-rid="1"><div data-rid="c70b0df6-52e0-4b08-a784-361b75437920" data-replo-repeated-index=".0.0.0.0.0" class="r-1k1u2zr"><div data-rid="e218bb5f-1c43-46e5-abc8-4c9f1dc38836" data-replo-repeated-index=".0.0.0.0.0.0" class="r-15zucmi"><div data-rid="d4321d6d-dda3-4e1a-b5c6-d5139ee52835" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1bzyrs0 alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong><span style="color: rgb(55, 65, 81)">Snoozy's silk pillowcases harness the power of silver ion technology to tap into its natural antimicrobial strength. </span></strong><span style="color: rgb(55, 65, 81)">Infused within the fabric, these minuscule silver particles get to work, disrupting the cell walls of bacteria and other microorganisms, putting a halt to their growth. The result? </span><strong><span style="color: rgb(55, 65, 81)">A pillowcase that stays fresh, clean, and free from harmful microbes, creating a healthier sleep environment.</span></strong><span style="color: rgb(55, 65, 81)"> And that could mean happier, clearer skin by reducing exposure to those pesky acne-causing bacteria.</span></p></span></div><div data-rid="ed9fece2-c548-487b-a420-a65a6e0115eb" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-6mecpo"><picture data-rid="668c46fa-dbc3-461f-9a6f-2fcbefc97bc0" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="r-1a2szlv"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block3.jpg?v=1701113628&amp;width=700" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block3.jpg?v=1701113628&amp;width=700" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block3.jpg?v=1701113628&amp;width=700" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block3.jpg?v=1701113628&amp;width=700" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block3.jpg?v=1701113628" class="r-jcl5ye" loading="eager"/></picture></div></div></div></div><div data-rid="dc62a0cd-bb44-4b00-831e-99389ae49d7f" data-replo-repeated-index=".0.0.0.0.0" class="r-fzocik alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong><span style="color: rgb(15, 15, 15)">The ultimate skincare experience is here</span></strong><span style="color: rgb(15, 15, 15)">. Get your luxuriously smooth pillowcase that is gentle on the skin and infused with natural silver ions, successfully eliminating 99.7% of bacteria, resulting in clear skin for a truly revitalizing, deep night's sleep.</span></p></span></div><div data-rid="ff0fe621-6494-4ef0-b436-044c11b143e3" data-replo-repeated-index=".0.0.0.0.0" class="r-bhcnqm alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong><span style="color: rgb(55, 65, 81)">Snoozy's silk pillowcases harness the power of silver ion technology to tap into its natural antimicrobial strength. </span></strong><span style="color: rgb(55, 65, 81)">Infused within the fabric, these minuscule silver particles get to work, disrupting the cell walls of bacteria and other microorganisms, putting a halt to their growth. The result? </span><strong><span style="color: rgb(55, 65, 81)">A pillowcase that stays fresh, clean, and free from harmful microbes, creating a healthier sleep environment.</span></strong><span style="color: rgb(55, 65, 81)"> And that could mean happier, clearer skin by reducing exposure to those pesky acne-causing bacteria.</span></p><p><br><strong><span style="color: rgb(15, 15, 15)">The ultimate skincare experience is here</span></strong><span style="color: rgb(15, 15, 15)">. Get your luxuriously smooth pillowcase that is gentle on the skin and infused with natural silver ions, successfully eliminating 99.7% of bacteria, resulting in clear skin for a truly revitalizing, deep night's sleep.</span></p></span></div><div data-rid="3644606a-fd2b-435d-a40a-03969ebac6f3" data-replo-repeated-index=".0.0.0.0.0" class="r-15juc1q alchemy-rte"><span contenteditable="false" style="width:100%"></span></div></div></div></div><div data-rid="01b312a7-1dff-46af-bd10-6bc83db5ac72" data-replo-repeated-index=".0.0" class="r-w8fx4k"><div data-rid="91945d3f-b60e-4c27-aeeb-4ce2ba89d02d" data-replo-repeated-index=".0.0.0" class="r-gd7nnn"></div><div data-rid="d5975e5e-4b26-4e1f-845b-673547736304" data-replo-repeated-index=".0.0.0" data-alchemy-url-hashmark="1" id="1" data-alchemy-url-hashmark-ignore="true" class="r-pg72ui"><div data-rid="e6f46cd7-7724-4346-adeb-f48510a07f64" data-replo-repeated-index=".0.0.0.0" class="r-1urklti"><picture data-rid="58ad4dbc-2d26-4232-9735-55e3bdba70f3" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="button" class="r-x8p7co"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block2.jpg?v=1701112964&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block2.jpg?v=1701112964&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block2.jpg?v=1701112964&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block2.jpg?v=1701112964&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/ericka-landingpage-block2.jpg?v=1701112964" class="r-zxxtnu" loading="eager"/></picture><div data-rid="7a49213b-1c9e-41fe-870d-0263edadcc4f" data-replo-repeated-index=".0.0.0.0.0" class="r-pxrzkr alchemy-rte"><span contenteditable="false" style="width:100%"></span></div></div></div></div><div data-rid="67ab74c2-e397-48bf-b32f-ca6c81a2167c" data-replo-repeated-index=".0.0" class="r-zq30vt"><div data-rid="2be3d1ae-5816-4c42-98de-ff7c16e74bb3" data-replo-repeated-index=".0.0.0" class="r-1ivg69f"><picture data-rid="740a0626-7698-4325-94c1-4209e6bf2d79" data-replo-repeated-index=".0.0.0.0" class="r-uehju5"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery-status_6734859.png?v=1697159427&amp;width=160" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery-status_6734859.png?v=1697159427&amp;width=160" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery-status_6734859.png?v=1697159427&amp;width=160" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery-status_6734859.png?v=1697159427&amp;width=160" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery-status_6734859.png?v=1697159427" class="r-1i2cg4b" loading="eager"/></picture><div data-rid="c8afba90-07bc-43de-9ee3-ede4816bdf64" data-replo-repeated-index=".0.0.0.0" class="r-1dmr1zt alchemy-rte"><span contenteditable="false" style="width:100%"><h3><strong>Money-Back Guarantee</strong></h3></span></div><div data-rid="8f038c63-7be3-41ef-955a-e476cd09258b" data-replo-repeated-index=".0.0.0.0" class="r-i8jnp7"><div data-rid="44642b14-3527-41c2-94ce-ff6328413c01" data-replo-repeated-index=".0.0.0.0.0" class="r-1nqk6z7 alchemy-rte"><span contenteditable="false" style="width:100%"><p>With our 60-Day Money-Back Guarantee, you can try Snoozy risk-free. If you're not convinced, simply return your order by mail and receive a full refund.</p></span></div></div></div><div data-rid="588e4cae-6cde-446c-a38d-14d3677cc742" data-replo-repeated-index=".0.0.0" class="r-1u5melq"><picture data-rid="17e5705d-8357-47fa-819f-07e6a21380a0" data-replo-repeated-index=".0.0.0.0" class="r-1gr5x2l"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/quality_1212158.png?v=1697159427&amp;width=160" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/quality_1212158.png?v=1697159427&amp;width=160" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/quality_1212158.png?v=1697159427&amp;width=160" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/quality_1212158.png?v=1697159427&amp;width=160" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/quality_1212158.png?v=1697159427" class="r-nyf8iq" loading="eager"/></picture><div data-rid="243b61de-cfc2-483e-82e6-9c9fd01b731a" data-replo-repeated-index=".0.0.0.0" class="r-9ojh67 alchemy-rte"><span contenteditable="false" style="width:100%"><h3><strong>Premium Quality</strong></h3></span></div><div data-rid="b6c299dc-4fa4-4a91-8e46-e6ddd569f14d" data-replo-repeated-index=".0.0.0.0" class="r-12t7mt2"><div data-rid="0f2307c6-1f74-4161-be4e-f474ba9e499f" data-replo-repeated-index=".0.0.0.0.0" class="r-u0gg68 alchemy-rte"><span contenteditable="false" style="width:100%"><p>At Snoozy you are guaranteed the highest quality available to ensure all the benefits of silk. </p></span></div></div></div><div data-rid="3019399f-c7e6-4974-8eff-d8787b46d8bc" data-replo-repeated-index=".0.0.0" class="r-1xs2wju"><picture data-rid="0d17f6e4-fffb-48c1-8b3a-765f5bc035fc" data-replo-repeated-index=".0.0.0.0" class="r-1uugm9v"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery_709790.png?v=1697159427&amp;width=160" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery_709790.png?v=1697159427&amp;width=160" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery_709790.png?v=1697159427&amp;width=160" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery_709790.png?v=1697159427&amp;width=160" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/delivery_709790.png?v=1697159427" class="r-1jyl6ac" loading="eager"/></picture><div data-rid="344f73c9-bb42-49d5-a85a-afcf3ca81e33" data-replo-repeated-index=".0.0.0.0" class="r-w92f20 alchemy-rte"><span contenteditable="false" style="width:100%"><h3><strong>Fast Shipping</strong></h3></span></div><div data-rid="4a196a6b-bd8c-44d4-976e-6a4056a63eee" data-replo-repeated-index=".0.0.0.0" class="r-5p5unn"><div data-rid="b7c4ab81-ab09-4a97-9cbe-2fffce8a457e" data-replo-repeated-index=".0.0.0.0.0" class="r-1sbxgpg alchemy-rte"><span contenteditable="false" style="width:100%"><p>Get your Snoozy delivered in as fast as 2-5 days within Metro Manila.</p></span></div></div></div></div><div data-rid="88199991-9c86-45f0-9d4b-6f324c1f26e6" data-replo-repeated-index=".0.0" class="r-ukozo9"><picture data-rid="086bfbc0-89a0-4b37-be2c-4888f6b59e82" data-replo-repeated-index=".0.0.0" tabindex="0" role="link" class="r-10g47rf"><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/snoozy-logo-black-web_14bfdf32-aeb2-4661-82a6-0e9d51b33ce4.png?v=1697159787&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/snoozy-logo-black-web_14bfdf32-aeb2-4661-82a6-0e9d51b33ce4.png?v=1697159787&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/snoozy-logo-black-web_14bfdf32-aeb2-4661-82a6-0e9d51b33ce4.png?v=1697159787&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/snoozy-logo-black-web_14bfdf32-aeb2-4661-82a6-0e9d51b33ce4.png?v=1697159787&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/snoozy-logo-black-web_14bfdf32-aeb2-4661-82a6-0e9d51b33ce4.png?v=1697159787" class="r-10yu1me" loading="eager"/></picture><div data-rid="f32ffada-6cef-4e60-b814-f75c6f6543b8" data-replo-repeated-index=".0.0.0" class="r-2klddy"><picture data-rid="13400fd1-e419-4126-90d4-575944c02960" data-replo-repeated-index=".0.0.0.0" class="r-1t0qm52"><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/payment-methods-visa.svg?v=1697124434" class="r-1f7ok17" loading="eager"/></picture><picture data-rid="f5e0e6b6-d7b2-4df4-8f38-6a53831897c4" data-replo-repeated-index=".0.0.0.0" class="r-10ng4o4"><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/payment-methods-mastercard.svg?v=1697124434" class="r-1660gdh" loading="eager"/></picture><picture data-rid="21463aef-4edd-4b91-95da-366c47ee8feb" data-replo-repeated-index=".0.0.0.0" class="r-1yqzkx"><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/payment-methods-g-cash.svg?v=1697124434" class="r-rfabzr" loading="eager"/></picture><picture data-rid="f4d3a5c0-5800-48ae-96fe-88c4a9212d74" data-replo-repeated-index=".0.0.0.0" class="r-1oq1ir1"><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/payment-methods-maya.svg?v=1697124434" class="r-14fexbb" loading="eager"/></picture><picture data-rid="895d101b-d4ba-4266-bf50-6a1c7e8b2617" data-replo-repeated-index=".0.0.0.0" class="r-1edswgf"><img src="https://cdn.shopify.com/s/files/1/0793/1995/7809/files/payment-methods-s-pay.svg?v=1697124434" class="r-vdzyz8" loading="eager"/></picture></div><div data-rid="7c2a2db5-2fc4-4009-9845-48308efab24b" data-replo-repeated-index=".0.0.0" class="r-8locpe"><div data-rid="da90f17b-0e3b-4765-9a44-45c67f2c4354" data-replo-repeated-index=".0.0.0.0" class="r-1hgjx15"><a href="https://snoozy.com.ph/pages/privacy-policy" data-rid="cd9869dc-2d58-4ca6-84f3-4c5b0d473c13" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="r-15m228o alchemy-rte" target="_top" contenteditable="false"><p>Privacy Policy</p><p></p></a><a href="https://snoozy.com.ph/pages/terms-conditions" data-rid="57d5b6d7-d43b-46fe-9812-4c5f0eff5049" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="r-1k7evwn alchemy-rte" target="_top" contenteditable="false"><p>Terms &amp; Conditions</p></a></div><div data-rid="f99bb758-1edc-4055-81a4-94bb962e856d" data-replo-repeated-index=".0.0.0.0" class="r-1jkk549 alchemy-rte"><span contenteditable="false" style="width:100%"><p> 2023 Keev Inc. All Rights Reserved.</p></span></div></div></div></div></div></div>

  <script type="application/json" id="replo-deps-products">
  [{{ all_products['standard-pillowcase'] | json }}]
  </script>
  
    <script id="replo-deps-element-id" data-id="132264952113"></script>
  
    </div>
